{% extends "base.html" %} {% block title %}MIT ReACT ELO - UI Uruguay{% endblock %}

{% block content %}

<h1> This is the homepage here we should look the Plotting of the Data</h1>

<html>
  <head>
    <title>Title of the document</title>
  </head>
  <body>
    <h2>Heading </h1>
    <div class="bd-example" align="left" idth="400" height="385">
    <article>
    <p>This is the historic chart of the uruguayan <b>indexed unit</b> which according to the INE:
      "It is a unit of value that is readjusted according to inflation measured by the Consumer Price Index. 
      This unit varies daily so that at the end of the month it accumulates a variation with 
      respect to the value of the UI of the previous month.""
    </p> 
    </article>
    
  
    </div>
    <div class="bd-example" align="middle">
    <img src={{ url_for('static', filename='/images/ELOP.png') }} alt="ELOP" width="400" height="385"/>
    </div>
  </body>
</html>

{% endblock %}